#world {
  position: absolute;
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  z-index: 3;
  pointer-events: none;
}
#effects{
  
  position: absolute;
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  z-index: 2;
  pointer-events: none;
}
#background {
  vertical-align: middle;
  position: absolute;
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  background-color: white;
  z-index: 1;
}
#clickField{
  vertical-align: middle;
  position: absolute;
  width: 1080px;
  height: 720px;
  margin: 0 auto;
  background-color:white;
  z-index: 0;
}
#wrapper {
  vertical-align: middle;
}



body {
  overflow: hidden;
}
